<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nick.androidproject2">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenS1"
            android:screenOrientation="sensorLandscape">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity
            android:name=".MenuS2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PlayerNameS7"
            android:screenOrientation="landscape" />
        <activity
            android:name=".WinListS5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".WinS6"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GameAS3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GameBS3"
            android:screenOrientation="landscape" />
    </application>

</manifest>